<mat-card class="mat-card-pos">
  <form (submit)="onAddMovie(movieForm)" #movieForm="ngForm">
      <h3 align = "center">Add Movie to Database</h3>


    <mat-form-field>
    <input matInput type="text" name="movieID" ngModel required maxlength="3" #movieID="ngModel" 
    placeholder="Movie ID">
  </mat-form-field>

  <mat-form-field>
      <input matInput rows="2" name="movieTitle" ngModel required #movieTitle="ngModel" placeholder="Movie Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput rows="2" name="movieDesc" ngModel required #movieDesc="ngModel" placeholder="Movie Description">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" name="movieReleaseYear" ngModel required #movieReleaseYear="ngModel" placeholder="Year of Release">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" name="directorID" ngModel required #directorID="ngModel" placeholder="Director_id">
    </mat-form-field>


    <h4>Please select a Movie Image</h4>
    <input type="file" (change)="onImgFileSelected($event)"#movieImage>

    <h4>Please select a Movie Trailer</h4>
    <input type="file" (change)="onVideoFileSelected($event)"#movieTrailer>
  
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</mat-card>