 <div class="background" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">   
  <mat-card class="card-picture" *ngFor="let movie of movies">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="90%">{{movie.movieTitle}}</span>
      <mat-icon fxFlex="10%">videocam</mat-icon>
      </mat-card-title>
      <img mat-card-image [src]="'data:image/JPEG;base64,' + movie.movieImg"/>
      <h5>{{movie.movieDesc}}</h5> 
    </mat-card>
  </div>


 



