<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let actor of actors" >
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" >
      <span fxFlex="85%">{{actor.firstName}} {{ actor.surname}}</span>
     <button (click) = "onDeleteActor(actor._actorID)" fxFlex = 15%>Delete</button>
     <!-- <button (click) = "onDeleteActor(actor.actorID)" fxFlex = 15%>Delete</button> -->
      </mat-card-title>
    <img class="img" [src]="'data:image/JPEG;base64,' + actor.picture" width="250" height="200" />      
  </mat-card>
</div>
